<h1>All Wikis</h1>
<% if policy(Wiki.new).create? %>
  <%= link_to "New Article", new_wiki_path %>
<% end %>
<% @wikis.each do |wiki| %>
  <p><%= link_to wiki.title, wiki %></p>
<% end %>

<%= link_to "New Wiki", new_wiki_path %>